/*Barra di navigazione*/
nav {
    background-color: #fff0f5;
    color: #fff;
    padding: 10px 0;
    text-align: right;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 10;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #9370db;
    position: relative;
    transition: color 0.3s ease;
    margin-right: 15px;
}

/* Evidenzia la pagina attuale in arancione */
.nav-links a.current,
.nav-links a:hover {
    color: #000;
    font-weight: bold;
}
/*Link a instagram*/
.capi{
    text-align: center;
    font-family: 'Lucida Handwriting', sans-serif;
    font-size: 40px; /* Modifica la dimensione del carattere secondo le tue preferenze */
    color: #8B4513;
}