/*-------------------------------------------------------------------------------- Barra di Navigazione --------------------------------------------------------------------------------*/
nav {
    background-color: #8B4513; /* Marrone */
    padding: 10px;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0; /* Modifica la posizione a sinistra per occupare tutta la larghezza */
    width: 100%; /* Occupa l'intera larghezza */
    z-index: 3;
    color: #fff; /* Cambia il colore del testo */
    border-radius: 0; /* Rimuovi i bordi arrotondati */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header {
    background-color: transparent; /* Sfondo trasparente */
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    overflow: hidden;
}
nav li-home {
    display: inline;
    margin-right: 20px;
}
nav li-home.current a {
    color: #fff; /* Colore del testo bianco per la pagina attuale nella barra di navigazione */
}

/*-------------------------------------------------------------------------------- Sezione Home --------------------------------------------------------------------------------*/

.scritta-home {
    text-align: center; /* Centra il testo */
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #fff; /* Colore del testo marrone */
}


body.background-home {
    background-image: url('Immagini/Immagini-Home/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 150px;  /*Aggiunge uno spazio di 15 pixel nella parte inferiore */

}
.name-section {
    text-align: right; /* Centra il testo */
    font-family: 'Lucida Handwriting', sans-serif;
    font-size: 40px;
    color: #000; /* Colore del testo marrone */

}


main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: #fff;
}
/*-------------------------------------------------------------------------------- Sezione Prodotti --------------------------------------------------------------------------------*/
body.background-prodotti {
    background-color: #f2f2f2; /* Colore di sfondo della pagina */
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: #000;
}
.prodotti-title {
    text-align: center;
    font-family: 'Lucida Handwriting', sans-serif;
    color: #000; /* Colore del testo nero per contrasto con lo sfondo */
}
.main.section {
    width: 80%; /* Larghezza desiderata */
    max-width: 1000px; /* Larghezza massima per una migliore leggibilità */
    text-align: center;
    margin: auto; /* Auto per centrare orizzontalmente */
    color: #000;
}
.titolo{
    text-align: left;
    font-family: 'Lucida Handwriting', sans-serif;
    color: #000; /* Colore del testo nero per contrasto con lo sfondo */
    margin-bottom: 0px; /* Margine inferiore per spaziare dal divisore */
    margin-left: 20%; /* Sposta il titolo del 20% verso destra */
}
.pic {
    margin: 0 20%; /* Margini del 10% su entrambi i lati */
}

.pic img {
    max-width: 100%; /* Assicurati che l'immagine non superi la larghezza del contenitore */
    height: auto; /* Imposta l'altezza automaticamente per mantenere le proporzioni */
}
/*-------------------------------------------------------------------------------- Sezione Contatti --------------------------------------------------------------------------------*/
/* Aggiorna queste regole nel tuo file style.css */

body {
    margin: 0;
    color: #000;
}

.background-contatti {
    background-color: #f2f2f2; /* Colore di sfondo della pagina */
}


section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    color: #000;
}
.capi{
    text-align: center;
    font-family: 'Lucida Handwriting', sans-serif;
    font-size: 40px; /* Modifica la dimensione del carattere secondo le tue preferenze */
    color: #8B4513;
}
.informazioni {
    font-family: 'Bauer Bodoni', sans-serif; /* Modifica il tipo di carattere se preferisci */
    font-size: 20px; /* Modifica la dimensione del carattere secondo le tue preferenze */
    color: black; /* Colore del testo */
}

.informazioni p {
    margin-bottom: 10px; /* Aggiungi margine inferiore tra i paragrafi */
}
	
.address {
    margin-top: 20px;
    color: #000;
}

.address p {
    margin-bottom: 10px;
    font-size: 20px; /* Modifica la dimensione del testo nell'indirizzo */
}

.address a {
    color: #007bff;
    font-size: 20px; /* Modifica la dimensione del testo nei link */
}
